.container {
    display: grid;
}

.container button {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: orange;
    background-color: none;
    border: 1px solid orange;
    border-radius: 4px;
    height: 32px;
    width: 80px;
    cursor: pointer;
}