.cart-card {
    display: grid;
    grid-template-columns: 20px auto auto auto;
    align-items: center;
}

.cart-card img {
    width: 12px;
    height: 12px;
}

.item-name {
    font-size: 14px;
    width: 200px;
}